  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Importante: impede que a tela suba ou desça */
    background: #000;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.header {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #111;
    border-bottom: 2px solid #ffff00;
    font-weight: bold;
    font-size: 14px;
}

 #gameCanvas {
    display: block;
    width: 100vw;
    height: calc(100vh - 60px); /* Ajusta para sobrar espaço pros botões */
}

 .touch-controls {
    position: fixed;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;
}

.ctrl-btn {
    width: 80px;
    height: 80px;
    background: rgba(255, 255, 0, 0.3);
    border: 2px solid yellow;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ctrl-btn:active {
    background: rgba(255, 255, 0, 0.4);
    border-color: #ffff00;
    transform: scale(1.1);
}

#pauseBtn {
    background: #333;
    color: #ffff00;
    border: 1px solid #ffff00;
    padding: 5px 10px;
}