  /* Estilos Gerais */
body {
    background-color: #1a252f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Evita rolagens estranhas no mobile */
    font-family: 'Georgia', serif;
}

 .topo-agenda {
    position: absolute;
    top: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
    background: rgba(0, 0, 0, 0.7); /* Fundo escuro semi-transparente */
    padding: 8px 15px;
    border-radius: 20px;
    color: white;
    z-index: 100; /* Garante que fique acima da folha e dos botões */
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

#relogio {
    font-family: monospace;
    font-size: 1.1rem;
    font-weight: bold;
}

.redoma-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.folha {
    width: 500px;
    height: 600px;
    background: #fffef0;
    border-radius: 15px;
    box-shadow: 0 30px 60px rgba(0,0,0,0.5);
    padding: 40px;
    display: flex;
    flex-direction: column;
    border-left: 15px solid #c0392b;
    transition: transform 0.2s;
    z-index: 5;
}

.nav-btn {
    background: rgba(255, 255, 255, 0.197);
    border: none;
    color: rgb(245, 194, 194);
    font-size: 3rem;
    cursor: pointer;
    padding: 20px;
    transition: 0.3s;
    z-index: 10;
}

textarea {
    flex-grow: 1;
    background: transparent;
    border: none;
    resize: none;
    font-size: 1.2rem;
    line-height: 1.8;
    outline: none;
    background-image: linear-gradient(#e1e1e1 1px, transparent 1px);
    background-size: 100% 1.8em;
}

  @media (max-width: 1024px) {
    .folha {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        border-left: none;
        border-top: 10px solid #c0392b; 
        padding: 100px 20px 20px 20px; /* Aumentado para não cobrir o topo */
    }

    .topo-agenda {
        top: 15px;
        transform: scale(1.1); /* Aumentado para facilitar o toque no tablet */
        background: rgba(192, 57, 43, 1); /* Cor sólida para garantir visibilidade */
        z-index: 999; /* Força ficar acima de TUDO */
    }

    #busca-data {
        min-height: 40px; /* Garante altura mínima para o dedo clicar */
        cursor: pointer;
    }

    .nav-btn {
        z-index: 100; /* Garante que as setas não fiquem em cima do calendário */
    }
}