   html, body {
    background-color: #0a0538 !important; /* Cor azul escuro profundo */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: sans-serif;
    overflow: hidden; /* Evita que a tela "pule" ao tocar nos botões */
    touch-action: none; 
}

 .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 450px;
    padding: 10px;
    box-sizing: border-box;
}

.game-title {
    font-size: 1.8rem;
    margin: 5px 0 10px 0;
    color: #fff;
    text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc;
    letter-spacing: 4px;
    font-weight: 900;
    text-align: center;
}

#info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

canvas {
    background-color: #000000; /* Fundo preto puro para o jogo */
    border: 2px solid #00ffcc;
    border-radius: 10px;
    width: auto;
    height: auto;
    max-height: 50vh; /* Ajuste para caber em telas de celulares menores */
    aspect-ratio: 10 / 15;
}

.button-container {
    display: flex;
    gap: 15px;
    margin: 10px 0;
}

/* Estilo do Direcional */
 .mobile-controls { display: flex; gap: 20px; margin-top: 15px; }
.vertical-btns { display: flex; flex-direction: column; gap: 10px; }
.ctrl-btn {
    width: 65px; height: 65px;
    background: rgba(0, 255, 204, 0.1);
    border: 2px solid #00ffcc;
    border-radius: 50%;
    color: white; font-size: 24px;
}
.ctrl-btn:active { background: #00ffcc; }

.action-btn {
    background: rgba(255, 204, 0, 0.2);
    border-color: #ffcc00;
}

.high-score-label { color: #ffcc00; }